/*body{
	margin: 0px !important;
}*/
body{
	font-size: 1rem;
}
#app{
	/*height: 100vh;*/
	/*position: relative;*/
	/*overflow-y: hidden;*/
}
.company_name_wrap{
	padding-left:.6rem;
	background: #fff;
	margin: .2rem 0;
	box-sizing: border-box;
	line-height: 2.5rem;
	/*display: flex;*/
}
.company_name{
	/*line-height: 2rem;*/
	font-size: 1rem;
	display: inline-block;
	vertical-align: middle;
}
.company_name_wrap>input{
	font-size: 1rem;
	margin-left: 5%;
	/*vertical-align: middle;*/
}
.remark{
	font-size: .8rem;
	color: #bababa;
	padding: 0 .8rem;
}
.consult_service{
	width: 4rem;
	height: 4rem;
	display: block;
	position: relative;
	bottom: -20rem;
	left: 80%;
	/*margin-top: 100%;*/
}
.consult_service img{
	width: 4rem;
	height: 4rem;
}
/*.app_content{
	height: 80vh;
}*/
/*提交*/
.submit{
	width: 90%;
	line-height: 2.5rem;
	position: relative;
	/*bottom: -7rem;*/
	margin-left: 5%;
	background: #FFA340;
	/*background: skyblue;*/
	border-radius: 5px;
	font-size: 1rem;
	margin-top: 95%;
}

/*
.submit{
	width: 90%;
	line-height: .8rem;
	margin-left: 5%;
	background: #FFA340;
	border-radius: 5px;
}*/

.submit>a{
	display: block;
	color: #fff;
	text-align: center;
}
/*弹窗*/
.mask{
	width: 100%;
	height: 100vh;
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
}
.capion_wrap{
	width: 80%;
	background: #FFFFFF;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -20%;
	margin-left: -39%;
	z-index: 99;
	border-radius: 5px;
}
.capion{
	position: relative;
}
.capion>img:first-child{
	width: 2rem;
	height: 5rem;
	position: absolute;
	top: -5.5rem;
	right: 0rem;
}
.capion>img:nth-child(2){
	width: 4rem;
	height: 4rem;
	display: block;
	margin: .8rem auto;
}
.capion>p{
	font-size: .8rem;
	color: #bababa;
	text-align: center;
}
.capion>div{
	line-height: 2rem;
	background: #FFA340;
	color: #fff;
	text-align: center;
	margin-top: .8rem;
}
input:focus{
	outline: none;
	border: 0;
}
